
*.xcuserstate

WaxDemo.xcodeproj/project.xcworkspace/xcuserdata/canyingwushang.xcuserdatad/UserInterfaceState.xcuserstate

WaxDemo.xcodeproj/project.xcworkspace/xcuserdata/canyingwushang.xcuserdatad/UserInterfaceState.xcuserstate
